html {
  font-size: 18px;
}
* {
  margin: 0;
}
/* create a variable in css */
:root {
  --heading-backgrounds:rgb(156, 96, 5);
}
body {
  background-color: antiquewhite;
  margin: 0;
}
.nav-container {
  width: 100%;
  height: 70px;
  /* calling a variable in css */
  background-color: var(--heading-backgrounds);
  margin-top: 0;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  flex-direction: column;
}
/* To access the for label in CSS */
[for="search-input"] {
  background-color: var(--heading-backgrounds);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.25rem;
  width: 18.5%;
  text-align: center;
}
#store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 10px;
  column-gap: 10px;
}
.product-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
 align-items: center;
 
}